<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary"></mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
      <mat-form-field>
        <mat-label>UserEmail</mat-label>
        <input #userEmail matInput placeholder="UserEmail" ng required="true" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input #password matInput placeholder="Password" ng required="true" />
      </mat-form-field>

      <button mat-raised-button type="submit"  (click)="onLoginClick()">Login</button>
      <button mat-raised-button type="submit" (click)="onRegisterClick()">Register</button>
      <a routerLink="/forgot-password" class="forgot-password">Forgot Password?</a>
    </form>
  </mat-card>
</div>