.main-div mat-card {
    padding: 0px;
  }

  .login-form {
    padding: 20px;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .colorbg {
    background-color:blue;
    color: white;
  }